@model TwTodos.Models.Todo

<h1>@ViewData["Title"]</h1>

<p>Tem certeza que deseja Excluir essa tarefa <strong>@Model.Title</strong>?</p>

<form method="POST">
 <button class="btn btn-danger" type="submit">Excluir</button>
 <a asp-asp-controller="Todo" asp-action="Index" class="btn btn primary">Cancelar</a>
</form>